.Calendar-Design{
    margin: auto 0;
    width: 70%;
    height: 90vh;
    padding: 20px;
}

.Main{
    display: flex;
    justify-content: space-between;
}

.Profile{
    width: 20%;
    height: 100vh;
    background-color: #2673cc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Profile-Bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
    color: white;
}

.Profile-Icon{
    font-size: 50px;
}

.rbc-month-view {
  background-color: #f5f5f5 !important;
}

.rbc-event {
  background-color: #2d90f3 !important;
  color: white;
  border-radius: 5px;
}

.rgb-toolbar{
  background-color: #2673cc !important;
}

.rbc-toolbar button {
  background-color: #3399ff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.rbc-toolbar button:hover {
  background-color: #2673cc;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
  z-index: 99 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ReactModal__Content {
  border-radius: 20px !important;
  padding: 20px;
  max-width: 600px;
  height: 600px;
  margin: auto;
}

.Modal-Bar{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Modal-Btn-Close{
  background-color: transparent;
  color: #f5f5f5;
  border: 0;
  font-size: 35px;
  padding: 20px;

  transition: 0.5s;
}

.Modal-Btn-Close:hover{
  transform: scale(1.3);
}

.Btn-Reserva{
  padding: 15px;
  background-color: #227ce4;
  border: 0;
  border-radius: 15px;
  color: #f5f5f5;
  font-weight: 600;
  width: 200px;
  margin-top: 20px;

  transition: 0.5s;
}

.Btn-Reserva:hover{
  background-color: transparent;
  color: #2980e2;
  border: 1px solid;

  cursor: pointer;
}



.Insert-Form{
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 5px;
  margin-top: 20px;
}

.allDay-Format{
  display: flex;
  align-items: center;
  gap: 10px;
}

.insert-input{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

hr{
  color: #ccc;
}

.selection-item{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
}

.select-Items{
  width: 70%;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fdfdfd;
}

.Btn-Remove-Item{
  background-color: transparent;
  border: 0;
  font-size: 20px;
  color: #fafafa;
  transition: 0.5s;
}

.Btn-Remove-Item:hover{
  color: #2673cc;
  cursor: pointer;
}

.Btn-Add-Item{
  padding: 10px;
  background-color: #3399ff;
  border: 0;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  width: 200px;
  margin-top: 10px;

  transition: 0.5s;
}

.items-tab{
  max-height: 125px;
  width: 100% !important;
  overflow-y: auto;
}

.Btn-Logout{
  padding: 10px;
  background-color: #f5f5f5;
  border: 0;
  border-radius: 10px;
  color: #227ce4;
  font-weight: 600;
  width: 200px;
  margin-top: auto;
  margin-bottom: 20px;

  transition: 0.5s;
}

.Btn-Logout:hover{
  transform: scale(1.2);
  color: #d3483e;
}

.Reservation-Hour{
  display: flex;
  width: 100%;
  justify-content: center;
}
.Hour-Information{
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal-Header{
  background-color: #227ce4;
  color: #f5f5f5;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-between;
}

.Modal-Insert{
  display: flex !important;
  flex-direction: column !important;
  
  z-index: 100 !important;
  background-color: white !important;
  border-radius: 20px !important;
  padding: 0px;
  width: 500px !important;
  height: 650px;
  margin: auto;
}

.Hour-Style{
  padding: 10px;
}

.Hour-Tab{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 9px;
  border: 1px solid #aeadad;
  width: 100px;

  box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.4);

  transition: 0.3s;
}

.Hour-Tab:hover{
  transform: scale(1.1);
}

.Hour-Padding{
  padding: 20px;
}

.Name-Padding{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.Name-Tab{
  background-color: #53a3ff;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 40px;
  border-radius: 7px;
}

.Name-Reservation-Icon{
  padding: 10px;
}

.hr-modal{
  width: 80%;
  color: #ededed;
}
.Itens-Title{
  font-size: 18px;
}

.Items-Padding{
  display: flex;
  justify-content: center;
}

.items-tab{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.Item-Topic{
  background-color: #9ac7ff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 2px;
  width: auto;

  transition: 0.2s;
}

.items-tab-view{
  max-height: 250px;
  width: 80%;
  overflow-y: auto;
}

.Item-Tag{
  color: #0a52a4;
  padding-right: 10px;
}

.Btn-Bar{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.Btn-Modal-Reservation{
  background-color: #3399ff;
  border: 0;
  border-radius: 9px;
  padding: 10px;
  color: #ededed;
  font-weight: 500;

  transition: 0.3s;
}

.Btn-Modal-Reservation:hover{
  cursor: pointer;
  transform: scale(1.1);
  background-color: #ffffff;
  border: 1px solid #227ce4;
  color: #227ce4;
}

.Btn-Modal-Reservation:disabled{
  background-color: #8594b1;
}

.Btn-Modal-Reservation:disabled:hover{
  color: #fafafa;
  border: none;
  transform: scale(1.0);
  cursor:not-allowed;
}

.Modal-View-Day{
  display: flex !important;
  flex-direction: column !important;
  
  z-index: 100 !important;
  background-color: white !important;
  border-radius: 20px !important;
  padding: 0px;
  width: 500px !important;
  height: 650px;
  margin: auto;
}

.Hour-Calendar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  padding: 10px;
}

.Hour-View{
  width: 90% !important;
}

.Title-View-Modal{
  background-color: #227ce4;
  border-radius: 20px 20px 0 0;
  color: #ededed;
}

.Modal-Reservation{
  display: flex !important;
  flex-direction: column !important;
  
  z-index: 100 !important;
  background-color: white !important;
  border-radius: 20px !important;
  padding: 0px;
  width: 500px !important;
  height: 550px;
  margin: auto;
}

.Modal-Header{
  background-color: #2673cc;
}

.Insert{
  margin: 0 auto;
  width: 80%;
}




.selection-item{
  background-color: #53a3ff;
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 5px;
}

.Item-Label{
  color: #ffffff;
}

.Remove-Condition{
  display: flex !important;
  flex-direction: column !important;
  
  z-index: 102 !important;
  background-color: white !important;
  border-radius: 20px !important;
  padding: 0px;
  width: 500px !important;
  height: 150px;
  margin: auto;
}

.p-remove{
  padding: 15px;
  font-size: 18px;
}

.Btn-cancel-remove{
  padding: 10px;
  border: 0;
  border-radius: 9px;
  background-color: #747474;
  margin-left: 20px;
  margin-right: 20px;
  color: #fafafa;

  transition: 0.3s;
}

.Btn-cancel-remove:hover{
  border: 2px solid #d3483e;
  background-color: white;
  color: #d3483e;
  transform: scale(1.1);
}

.Btn-confirm-remove{
  padding: 10px;
  border: 0;
  border-radius: 9px;
  background-color: #227ce4;
  margin-left: 20px;
  margin-right: 20px;
  color: #fafafa;

  transition: 0.3s;
}

.Btn-confirm-remove:hover{
 border: 2px solid #227ce4;
 background-color: white;
 color: #227ce4;
 transform: scale(1.1); 
}